.footer {
  &__description {
    @include fonts($font-color-white, $font-size-1_8-rem, 130%, $font-weight-light);
    font-family: "Roboto";
  }

  &__main {
    display: flex;
    flex-wrap: wrap;

    & > div:not(:last-child) {
      border-right: 1px solid #ffffff33;
    }
  }

  &__copyright {
    @include fonts($font-color-white, $font-size-1_6-rem, 120%, $font-weight-normal);
    text-align: center;
  }
}

