.header {
  &__section {
    padding: $section-padding-y-sm $section-padding-x-md;
    background-color: $dark;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header {
    &__navbar {
      padding: 3rem;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 9999;
    }
  }
}
