.logo {
  display: flex;
  gap: 0.6rem;

  &__icon {
    width: clamp(4rem, 10vw, 6.2rem);
    height: clamp(4rem, 10vw, 6.2rem);
  }

  &__text {
    @include fonts($font-color-white, $font-size-2_6-rem, 110%, $font-weight-bolder);
    text-transform: uppercase;
  }
}
