.main {
  &__presentation {
    padding: $section-padding-y-sm $section-padding-x-md;
  }

  &__our-expertise,
  &__why-choose-us {
    padding: $section-padding-y-semibg $section-padding-x-bg;
  }

  &__who-we-are {
    padding: $section-padding-y-semimd $section-padding-x-bg;
  }

  &__what-we-do {
    padding: $section-padding-y-md $section-padding-x-bg;
  }

  &__why-choose-us {
    background-color: $gray-100;
  }

  &__who-we-are {
    background-color: $danger;
  }
}
