.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  &__link {
    color: $light;
    display: flex;
    align-items: center;
    gap: 1rem;

    &_size-full {
      flex: 0 1 100%;
    }

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      color: $danger;
    }
  }

  &__text {
    @include fonts($font-roboto, $font-size-normal, $line-height-base, $font-weight-light);
  }
}


