body {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.block {
  width: 100px;
  height: 100px;
  background-color: #934c4c;

  &__text {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
  }


  &__link {
    color: #000;
    text-decoration: none;
  }

  &__title {
    color: red;
  }
}
