.container {
  width: 100%;
  min-width: 23rem;

  &_bg-color {
    &-black {
      background-color: $container-bg-color-black;
    }

    &-gray {
      background-color: $container-bg-color-gray;
    }

    &-red {
      background-color: $container-bg-color-red;
    }
  }

  &_padding-x-sm {
    @include container-padding-x($container-padding-x-sm, $container-padding-x-sm);
  }

  &_padding-x-md {
    @include container-padding-x($container-padding-x-md, $container-padding-x-md);
  }

  &_padding-x-bg {
    @include container-padding-x($container-padding-x-bg, $container-padding-x-bg);
  }

  &_padding-y-sm {
    @include container-padding-y($container-padding-y-sm, $container-padding-y-sm)
  }

  &_padding-y-md {
    @include container-padding-y($container-padding-y-md, $container-padding-y-md)
  }

  &_padding-y-bg {
    @include container-padding-y($container-padding-y-bg, $container-padding-y-bg)
  }
}
