.navbar {
  &__list {
    display: flex;
    gap: 1.5rem;
  }

  &__item {
    padding: 1rem 2rem;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  &__link {
    @include fonts($font-color-white, $font-size-1_8-rem, 120%, $font-weight-bold);
    text-decoration: none;
    text-transform: uppercase;

    &:active {
      color: $font-color-red;
    }
  }
}

@media (max-width: 460px) {
  .navbar {
    display: none;
  }
}

