.wwd-card {
  background-color: #f3f3f3;
  border-radius: 1rem;
  padding: 3rem;
  height: 47%;

  &__title {
    @include fonts($font-color-dark-gray, $font-size-2_4-rem, 150%, $font-weight-bolder);
    margin-top: 2rem;
  }

  &__description {
    @include fonts($font-color-light-gray, $font-size-1_8-rem, 130%, $font-weight-normal);
    font-family: 'Roboto';
    margin-top: 1rem;
  }
}

