$font-size-base: 1rem;

$h1-font-size: $font-size-base * 7;
$h2-font-size: $font-size-base * 5;
$h3-font-size: $font-size-base * 2.4;

$font-size-normal: $font-size-base * 1.6;
$font-size-semimedium: $font-size-base * 1.8;
$font-size-medium: $font-size-base * 2;
$font-size-lg: $font-size-base * 2.6;

