$section-padding-x-md: 8rem;
$section-padding-x-bg: 15rem;

$section-padding-y-semism: 2rem;
$section-padding-y-sm: 3rem;
$section-padding-y-semimd: 4.5rem;
$section-padding-y-md: 9rem;
$section-padding-y-semibg: 11rem;
$section-padding-y-bg: 15rem;
