.btn {
  @include fonts($font-color-black, $font-size-1_8-rem, 130%, $font-weight-normal);
  border: 1px solid transparent;
  border-radius: 4rem;
  padding: 1rem 2rem;

  &:hover {
    cursor: pointer;
    background-color: #131313;
    color: $font-color-white;
  }
}

