.social-links {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  &__link {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;

    &_size-full {
      flex: 0 1 100%;
    }

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      color: #ff0000;
    }
  }

  &__icon {
    color: #EDEDED;
  }

  &__text {
    @include fonts($font-color-white, $font-size-1_6-rem, 130%, $font-weight-light);
    font-family: "Roboto";
  }
}

