.why-choose-us {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;

  &__presentation {
    flex: 0 1 31%;
  }

  &__description {
    @include fonts($font-color-black, $font-size-1_8-rem, 130%, $font-weight-normal);
    font-family: 'Roboto';
    margin-top: 2rem;
  }
}

