.footer {
  &__description {
    font-family: "Roboto";
    color: #fff;
    font-weight: 300;
    line-height: 130%;
    font-size: 1.8rem;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;

    & > div:not(:last-child) {
      border-right: 1px solid #ffffff33;
    }
  }



  &__copyright {
    color: #fff;
    font-size: 1.6rem;
    line-height: 120%;
    font-weight: 400;
    text-align: center;
  }
}

