.title {
  &__text {
    margin: 0;
    font-size: 5rem;
    line-height: 140%;
    font-weight: 700;

    &_color {
      &-black {
        color: #131313;
      }

      &-white {
        color: #fff;
      }
    }

    &_position-center {
      text-align: center;
    }
  }
}


